# EDA: FluentSigners-50

In [1]:
dataset_path = 'C:/Users/pdkud/Downloads/FluentSigners-50'

In [4]:
import os
import pandas as pd

In [3]:
os.listdir(dataset_path)

['000-20230609T203146Z-001.zip',
 '001-20230609T203540Z-001.zip',
 '002-20230609T203656Z-001.zip',
 '003-20230609T203700Z-001.zip',
 '004-20230609T203701Z-001.zip',
 'gloss_annotation.csv',
 'russian_translation.csv']

In [10]:
translations = pd.read_csv(dataset_path+'/russian_translation.csv')
glosses = pd.read_csv(dataset_path+'/gloss_annotation.csv')

In [6]:
translations.head()

   ID         Translation
0   0         Здравстуйте
1   1              Привет
2   2       Как ваши дела
3   3     Как твоя работа
4   4  У меня все отлично

In [7]:
translations.tail()

      ID                   Translation
168  171        На улице очень холодно
169  172                 Я люблю дождь
170  173               Я не люблю жару
171  174            Мне нравится ветер
172  175  На улице очень сильный ветер

In [8]:
len(translations.Translation.unique())

172

In [11]:
glosses.head()

   ID               Gloss
0   0        ЗДРАВСТВУЙТЕ
1   1              ПРИВЕТ
2   2       КАК ТВОЙ ДЕЛА
3   3     КАК ТВОЙ РАБОТА
4   4  У МЕНЯ ВСЕ ОТЛИЧНО

In [12]:
glosses.tail()

      ID                         Gloss
169  171        НА УЛИЦЕ ОЧЕНЬ ХОЛОДНО
170  172                 Я ЛЮБЛЮ ДОЖДЬ
171  173               Я НЕ ЛЮБЛЮ ЖАРУ
172  174            МНЕ НРАВИТСЯ ВЕТЕР
173  175  НА УЛИЦЕ ОЧЕНЬ СИЛЬНЫЙ ВЕТЕР

In [23]:
len(glosses.Gloss.unique())

172

In [24]:
merged_data = glosses.merge(translations, on = 'ID')

In [33]:
merged_data[merged_data.Translation.str.upper().str.replace(',','').str.split().str.join(' ')!=merged_data.Gloss.str.upper().str.split().str.join(' ')].to_csv(dataset_path+'/my_test.csv')

* мало фраз
* глоссы часто в том же порядке, что и фразы (игнорируется граммматика). ПРоверить "какие нововсти?"
* есть опечатки
* нет привязки глоссов к жестам на видео (в какой момент начинается и т.п.)

In [47]:
for i in os.listdir(dataset_path):
    if os.path.isdir(dataset_path+'/'+i):
        for x in os.listdir(dataset_path+'/'+i):
            print(len(os.listdir(dataset_path+'/'+i+'/'+x)))

250
250
250
250
250

In [48]:
len(glosses)

174

In [49]:
len(translations)

173

In [51]:
# 250 видео на каждую фразу
173*250

43250